#authors{
    padding: 4rem 0;

    .fa{
        font-size:1.4rem;
    }
    .card{
        margin-top:2rem;
        color:#343a40;
        transition:background-color 0.4s;
    }
    img{
        margin-top:-4rem;
    }
    .card:hover{
        background-color: $primary-color;
        color:white;
    }
}